body {
  background-color: #eaeaea;
  color: black;

  font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@font-face {
  font-family: 'Monarda';
  src: url('../../public/font/Monarda/Monarda.ttf');
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('../../public/font/open-sans/OpenSans-Light.ttf');
}

.dark-mode {
  background-color: #3a3a3a;
  color: white;
}