.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5px;
}

.comp-logo {
  color: #586091;

  padding-left: 15px;
  font-family: "Monarda", serif;

}

.btn {
  border-radius: 20px;
  background-color: #0c0c0c;
  color: white;

  border: none;

  padding: 7px;
}

.btn-contact {
  font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu', sans-serif;

  transition: 0.5s;
}

.btn-contact:hover {
  transform: scale(1.05);

  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.btn-contact:active {
  background-color: #626262;
}

.img-contact {
  padding-left: 5px;
  float: right;
}

.list {
  width: 25px;
}

.dark-light {
  margin-left: 5px;
}

.img-moon {
  padding-left: 5px;
  padding-top: 1px;
  float: right;
}

.font-size {
  font-size: 14px;
}

.empty {
  border: none;

  background-color: unset;

  font-family: "Ubuntu", sans-serif;
  color: white;

  border-radius: 20px;
  padding: 7px;
}

.btn-no-pad {
  border-radius: 20px;
  background-color: #0c0c0c;
  color: white;

  border: none;
}